#### 字典的方式初始化Series

In [132]:
import pandas as pd
d = {'a' : 10, 'b' : 20, 'c' : 30}
s = pd.Series(d) 

print type(s.index)
print s.index.values
print (s.values) 

index = s.index
value = s.values
value = value*5 
value

<class 'pandas.core.indexes.base.Index'>
['a' 'b' 'c']
[10 20 30]

array([ 50, 100, 150])

In [127]:
import tushare as ts
import matplotlib.pyplot as plt
import matplotlib.finance as mpf
import numpy as np
import talib as talib
import pandas as pd
import datetime as dt


df = ts.get_k_data('002408', ktype='m',autype="qfq",index=False,start="2015-01-01")

df

          date    open   close    high     low       volume    code
0   2015-01-09   6.234   6.613   6.814   6.147    342941.00  002408
1   2015-03-31   7.273   7.819   8.551   7.273    565473.32  002408
2   2015-04-30   7.819   9.381   9.874   7.792   3077516.00  002408
3   2015-05-29   9.214   9.544  10.723   8.285   2946546.00  002408
4   2015-06-30   9.544   7.635  11.478   6.428   3403766.00  002408
5   2015-07-31   7.609   5.992   7.733   5.163   5420068.00  002408
6   2015-08-31   5.903   5.168   7.782   4.727   5086928.00  002408
7   2015-09-30   5.172   4.762   5.359   4.223   2901392.00  002408
8   2015-10-30   4.963   5.524   6.063   4.900   3182619.00  002408
9   2015-11-30   5.430   5.564   6.299   5.292   3402196.00  002408
10  2015-12-31   5.573   5.929   6.713   5.506   3406897.00  002408
11  2016-01-29   5.934   4.303   6.072   4.085   1813471.00  002408
12  2016-02-29   4.268   5.332   5.702   4.170   2699669.00  002408
13  2016-03-31   5.123   5.903   6.125   4.936   6402801.00  002408
14  2016-04-29   5.840   5.399   6.361   5.234   3408162.00  002408
15  2016-05-31   5.404   5.417   5.813   4.909   1769401.00  002408
16  2016-06-30   5.368   5.462   5.869   5.064   4393843.00  002408
17  2016-07-29   5.491   5.581   6.208   5.372   6262961.00  002408
18  2016-08-31   5.531   6.078   6.178   5.491   4249092.00  002408
19  2016-09-30   6.098   5.800   6.347   5.611   3169149.00  002408
20  2016-10-28   5.869   6.655   7.252   5.820   6374443.00  002408
21  2016-11-30   7.322  11.331  11.480   7.322  15433745.00  002408
22  2016-12-30  11.928  10.943  13.728  10.266  19072898.00  002408
23  2017-01-26  11.132   9.580  13.221   8.794   6086139.00  002408
24  2017-02-28   9.650  10.067  10.396   9.431   4697494.00  002408
25  2017-03-31  10.137   9.689  10.525   9.451   4801779.00  002408
26  2017-04-28   9.689   9.560  10.286   9.162   2466225.00  002408
27  2017-05-31   9.590  10.000  10.160   9.272   2357954.00  002408
28  2017-06-30  10.030  11.080  11.290   9.760   4178080.00  002408
29  2017-07-31  11.100  11.200  11.270  10.160   3767204.00  002408
30  2017-08-31  11.230  12.320  12.600  11.020   4710776.00  002408
31  2017-09-29  12.300  12.290  13.270  11.750   2476343.00  002408
32  2017-10-31  12.380  11.860  12.500  11.210   1169864.00  002408
33  2017-11-30  11.810  12.120  13.020  11.670   1999525.00  002408
34  2017-12-29  12.120  12.680  14.420  12.060   4072982.00  002408
35  2018-01-31  12.650  13.160  13.700  11.610   2698097.00  002408
36  2018-02-28  13.310  12.990  13.560  11.580   1715852.00  002408
37  2018-03-30  13.030  13.170  13.590  12.200   1995674.00  002408
38  2018-04-27  13.180  13.850  15.800  13.000   2747186.00  002408
39  2018-05-15  13.850  14.270  14.450  13.630   1353071.00  002408

In [159]:
for i in df.columns :
    print  i

0
1
2
3
4
5
6
7
8
9