字典的方式初始化Series

In [41]:
import pandas as pd
d = {'a' : 10, 'b' : 20, 'c' : 30}
s = pd.Series(d) 

print type(s.index.values)
print s.index.values
print (s.values) 
a = s.values
a.ndim

<type 'numpy.ndarray'>
['a' 'b' 'c']
[10 20 30]

1

In [48]:
import tushare as ts
ts.get_k_data('600000', ktype='5')

                 date   open  close   high    low   volume    code
0    2018-04-26 14:55  11.58  11.58  11.60  11.57   6930.0  600000
1    2018-04-26 15:00  11.59  11.57  11.59  11.55  21394.0  600000
2    2018-04-27 09:35  11.58  11.60  11.64  11.57  10630.0  600000
3    2018-04-27 09:40  11.61  11.61  11.65  11.60   5614.0  600000
4    2018-04-27 09:45  11.61  11.64  11.67  11.61   5624.0  600000
5    2018-04-27 09:50  11.63  11.65  11.66  11.60   5591.0  600000
6    2018-04-27 09:55  11.65  11.64  11.66  11.60   7194.0  600000
7    2018-04-27 10:00  11.64  11.59  11.64  11.58   4592.0  600000
8    2018-04-27 10:05  11.59  11.60  11.64  11.58   6635.0  600000
9    2018-04-27 10:10  11.60  11.62  11.62  11.57   3209.0  600000
10   2018-04-27 10:15  11.61  11.62  11.66  11.61   6267.0  600000
11   2018-04-27 10:20  11.62  11.65  11.66  11.62   5519.0  600000
12   2018-04-27 10:25  11.65  11.61  11.66  11.61   2932.0  600000
13   2018-04-27 10:30  11.61  11.64  11.66  11.60   9376.0  600000
14   2018-04-27 10:35  11.61  11.59  11.63  11.59   2716.0  600000
15   2018-04-27 10:40  11.59  11.60  11.60  11.59   4215.0  600000
16   2018-04-27 10:45  11.60  11.64  11.65  11.59   6759.0  600000
17   2018-04-27 10:50  11.64  11.63  11.64  11.62    553.0  600000
18   2018-04-27 10:55  11.62  11.60  11.63  11.60   2002.0  600000
19   2018-04-27 11:00  11.60  11.59  11.63  11.58   4871.0  600000
20   2018-04-27 11:05  11.58  11.62  11.64  11.58   5737.0  600000
21   2018-04-27 11:10  11.61  11.60  11.62  11.59   2073.0  600000
22   2018-04-27 11:15  11.60  11.58  11.62  11.57   7557.0  600000
23   2018-04-27 11:20  11.57  11.58  11.62  11.57   1856.0  600000
24   2018-04-27 11:25  11.58  11.58  11.63  11.56   7430.0  600000
25   2018-04-27 11:30  11.58  11.58  11.60  11.57    840.0  600000
26   2018-04-27 13:05  11.58  11.58  11.60  11.55   5330.0  600000
27   2018-04-27 13:10  11.58  11.61  11.63  11.57   4687.0  600000
28   2018-04-27 13:15  11.61  11.60  11.63  11.58   3004.0  600000
29   2018-04-27 13:20  11.60  11.60  11.62  11.60   1489.0  600000
..                ...    ...    ...    ...    ...      ...     ...
475  2018-05-14 14:30  11.00  11.00  11.01  10.99   3957.0  600000
476  2018-05-14 14:35  11.00  11.00  11.00  10.98   5473.0  600000
477  2018-05-14 14:40  11.00  10.98  11.00  10.97   8239.0  600000
478  2018-05-14 14:45  10.98  10.98  10.99  10.97   3604.0  600000
479  2018-05-14 14:50  10.97  10.99  11.00  10.97   4147.0  600000
480  2018-05-14 14:55  10.99  11.01  11.01  10.99   5542.0  600000
481  2018-05-14 15:00  11.01  11.00  11.01  10.99   4218.0  600000
482  2018-05-15 09:35  11.03  11.02  11.05  11.01  19490.0  600000
483  2018-05-15 09:40  11.03  10.99  11.03  10.99  10445.0  600000
484  2018-05-15 09:45  10.99  11.02  11.02  10.99   4656.0  600000
485  2018-05-15 09:50  11.01  11.02  11.03  11.00   8248.0  600000
486  2018-05-15 09:55  11.02  11.00  11.02  10.99   6565.0  600000
487  2018-05-15 10:00  11.00  10.99  11.01  10.99   4850.0  600000
488  2018-05-15 10:05  11.00  11.00  11.00  10.99   2641.0  600000
489  2018-05-15 10:10  10.99  11.00  11.01  10.99   4746.0  600000
490  2018-05-15 10:15  11.00  10.99  11.00  10.98   3146.0  600000
491  2018-05-15 10:20  10.99  10.99  11.00  10.98   2544.0  600000
492  2018-05-15 10:25  10.99  10.99  10.99  10.98   2086.0  600000
493  2018-05-15 10:30  10.98  10.98  10.99  10.98   3827.0  600000
494  2018-05-15 10:35  10.98  10.99  10.99  10.98   3863.0  600000
495  2018-05-15 10:40  10.98  10.97  10.99  10.97   4856.0  600000
496  2018-05-15 10:45  10.96  10.96  10.97  10.95   3821.0  600000
497  2018-05-15 10:50  10.95  10.94  10.97  10.94   4919.0  600000
498  2018-05-15 10:55  10.94  10.94  10.95  10.93   3292.0  600000
499  2018-05-15 11:00  10.95  10.94  10.95  10.93   2764.0  600000
500  2018-05-15 11:05  10.93  10.93  10.95  10.92   3928.0  600000
501  2018-05-15 11:10  10.93  10.94  10.94  10.92   2662.0  600000
502  2018-05-15 11:15  10.94  10.92  10.94  10.92   3233.0  600000
503  2018-05-15 11:20  10.92  10.92  10.94  10.92   2592.0  600000
504  2018-05-15 11:24  10.92  10.92  10.93  10.91   3778.0  600000

[505 rows x 7 columns]