字典的方式初始化Series

In [41]:
import pandas as pd
d = {'a' : 10, 'b' : 20, 'c' : 30}
s = pd.Series(d) 

print type(s.index.values)
print s.index.values
print (s.values) 
a = s.values
a.ndim

<type 'numpy.ndarray'>
['a' 'b' 'c']
[10 20 30]

1

In [56]:
import tushare as ts
df = ts.get_k_data('002408', ktype='5')
df.tail(25)

                 date   open  close   high    low  volume    code
481  2018-05-14 15:00  14.09  14.09  14.09  14.07  2128.0  002408
482  2018-05-15 09:35  14.10  14.11  14.15  14.06  7567.0  002408
483  2018-05-15 09:40  14.11  14.10  14.12  14.05  5137.0  002408
484  2018-05-15 09:45  14.10  14.10  14.10  14.06  3773.0  002408
485  2018-05-15 09:50  14.10  14.19  14.20  14.06  7652.0  002408
486  2018-05-15 09:55  14.19  14.17  14.20  14.16  6110.0  002408
487  2018-05-15 10:00  14.17  14.17  14.17  14.13  1591.0  002408
488  2018-05-15 10:05  14.17  14.17  14.18  14.14  1251.0  002408
489  2018-05-15 10:10  14.17  14.17  14.18  14.13  3072.0  002408
490  2018-05-15 10:15  14.16  14.15  14.17  14.15  1213.0  002408
491  2018-05-15 10:20  14.15  14.15  14.16  14.13  1603.0  002408
492  2018-05-15 10:25  14.15  14.13  14.16  14.10  2380.0  002408
493  2018-05-15 10:30  14.13  14.13  14.13  14.11   944.0  002408
494  2018-05-15 10:35  14.13  14.11  14.14  14.10  1178.0  002408
495  2018-05-15 10:40  14.11  14.10  14.12  14.10   731.0  002408
496  2018-05-15 10:45  14.10  14.11  14.12  14.10  1079.0  002408
497  2018-05-15 10:50  14.11  14.11  14.12  14.09  5082.0  002408
498  2018-05-15 10:55  14.11  14.08  14.11  14.08  5075.0  002408
499  2018-05-15 11:00  14.08  14.11  14.11  14.08  2084.0  002408
500  2018-05-15 11:05  14.11  14.09  14.12  14.07  2171.0  002408
501  2018-05-15 11:10  14.09  14.10  14.10  14.07  2479.0  002408
502  2018-05-15 11:15  14.10  14.09  14.11  14.09  1587.0  002408
503  2018-05-15 11:20  14.09  14.08  14.10  14.08  1627.0  002408
504  2018-05-15 11:25  14.08  14.09  14.10  14.07  1429.0  002408
505  2018-05-15 11:26  14.09  14.08  14.09  14.08   197.0  002408