字典的方式初始化Series

In [57]:
import pandas as pd
d = {'a' : 10, 'b' : 20, 'c' : 30}
s = pd.Series(d) 

print type(s.index.values)
print s.index.values
print (s.values) 
a = s.values
a.ndim

<type 'numpy.ndarray'>
['a' 'b' 'c']
[10 20 30]

1

In [107]:
import tushare as ts
import matplotlib.pyplot as plt
import matplotlib.finance as mpf
import numpy as np
import talib as talib
import pandas as pd
import datetime as dt


df = ts.get_k_data('002408', ktype='m',autype="qfq",index=False,start="2015-01-01")

#RSI
df["rsi"] = talib.RSI(df['close'].values, timeperiod=9)
df["macd"],df["signal"],df["hist"] = talib.MACD(df['close'].values, fastperiod=12, slowperiod=26, signalperiod=9)

data=df[["date","close"]]
data2 = data[data["close"].shift(-1)>data["close"]]
#[data["close"].shift(1)>data["close"]]
data2["rsi"] = df["rsi"].loc[data2.index]
data2

/data/huanghan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

          date   close        rsi
0   2015-01-09   6.613        NaN
1   2015-03-31   7.819        NaN
2   2015-04-30   9.381        NaN
7   2015-09-30   4.762        NaN
8   2015-10-30   5.524        NaN
9   2015-11-30   5.564  43.840282
11  2016-01-29   4.303  37.725800
12  2016-02-29   5.332  45.055038
14  2016-04-29   5.399  45.709090
15  2016-05-31   5.417  45.847554
16  2016-06-30   5.462  46.233224
17  2016-07-29   5.581  47.348783
19  2016-09-30   5.800  49.271505
20  2016-10-28   6.655  57.124640
23  2017-01-26   9.580  63.680218
26  2017-04-28   9.560  61.558231
27  2017-05-31  10.000  63.978113
28  2017-06-30  11.080  69.312409
29  2017-07-31  11.200  69.870131
32  2017-10-31  11.860  68.993005
33  2017-11-30  12.120  70.439171
34  2017-12-29  12.680  73.440699
36  2018-02-28  12.990  73.207985
37  2018-03-30  13.170  74.260055
38  2018-04-27  13.850  77.941397