### 安装 <a href="http://tushare.org/index.html">tushare</a> 
    pip install tushare

In [433]:
import tushare as ts
import matplotlib.pyplot as plt
import matplotlib.finance as mpf
import numpy as np
import talib as talib
import pandas as pd
import datetime as dt

#取所有2n天内的低点
def get_low_point(df,columns,n):
    conds = (df[columns]==df[columns])
    for i in range(0,n):
        conds = conds & (df[columns].shift(i+1)>=df[columns]) &  (df[columns].shift(-i-1)>=df[columns])  
    return df[conds] 

def get_height_point(df,col,n):
    conds = (df[columns]==df[columns])
    for i in range(0,n):
        conds = conds & (df[columns].shift(i+1)<=df[columns]) &  (df[columns].shift(-i-1)<=df[columns])  
    return df[conds]  


df = ts.get_k_data('002408', ktype='60',autype="qfq",index=False)

#RSI
df["rsi"] = talib.RSI(df['close'].values, timeperiod=9)
df["macd"],df["signal"],df["hist"] = talib.MACD(df['close'].values, fastperiod=12, slowperiod=26, signalperiod=9)

In [455]:
data = ts.get_k_data('002023', ktype='m',autype="qfq",index=False,start='2001-01-01', end='2018-05-15')
#RSI
data["rsi"] = talib.RSI(data['close'].values, timeperiod=9)
data

,date,open,close,high,low,volume,code,rsi
0,2004-07-30,2.024,2.120,2.168,1.910,360892.53,002023,NaN
1,2004-08-31,2.120,1.875,2.167,1.723,177060.04,002023,NaN
2,2004-09-30,1.850,2.387,2.495,1.796,158067.84,002023,NaN
3,2004-10-29,2.430,2.592,2.791,2.241,177149.12,002023,NaN
4,2004-11-30,2.567,2.521,2.748,2.340,139323.08,002023,NaN
5,2004-12-31,2.527,2.357,2.713,2.289,133215.68,002023,NaN
6,2005-01-31,2.330,2.081,2.410,1.963,56365.04,002023,NaN
7,2005-02-28,2.001,2.280,2.408,2.001,39928.37,002023,NaN
8,2005-03-31,2.284,2.180,2.494,2.138,117872.96,002023,NaN
9,2005-04-29,2.188,2.147,2.542,2.087,159833.08,002023,50.747922
10,2005-05-30,2.071,1.932,2.147,1.834,40783.65,002023,44.751145
11,2005-06-17,1.888,2.265,2.337,1.804,104193.70,002023,54.184576
12,2005-07-20,2.402,2.395,2.423,2.068,122722.35,002023,57.380568
13,2005-08-31,1.986,1.739,2.014,1.665,535714.77,002023,41.103242
14,2005-09-30,1.743,2.035,2.085,1.684,448870.83,002023,48.516762
15,2005-10-31,2.047,1.884,2.303,1.835,518319.72,002023,45.248092
16,2005-11-30,1.865,1.852,2.058,1.688,414216.94,002023,44.532797
17,2005-12-30,1.854,1.733,1.856,1.653,309921.92,002023,41.770301
18,2006-01-25,1.741,1.661,1.909,1.661,516295.59,002023,40.078044
19,2006-02-28,1.638,1.726,1.938,1.636,403781.23,002023,42.446178
20,2006-03-31,1.739,1.655,1.783,1.563,273536.55,002023,40.480279
21,2006-04-28,1.653,1.714,1.877,1.584,538976.73,002023,42.950417
22,2006-05-31,1.709,2.181,2.328,1.680,787488.83,002023,58.344406
23,2006-06-30,2.204,2.605,2.746,2.056,810494.06,002023,67.344654
24,2006-07-31,2.618,2.223,2.788,2.171,281757.21,002023,55.246115
25,2006-08-31,2.183,2.261,2.343,1.997,149954.46,002023,56.128155
26,2006-09-29,2.261,2.379,2.423,2.160,205797.20,002023,58.954190
27,2006-10-31,2.391,2.213,2.538,2.097,207577.72,002023,53.500072
28,2006-11-30,2.217,1.997,2.259,1.835,311509.48,002023,47.118864
29,2006-12-29,2.001,1.972,2.198,1.856,415813.41,002023,46.398273
...,...,...,...,...,...,...,...,...
136,2015-11-30,18.414,18.830,22.117,17.186,5292475.00,002023,57.636556
137,2015-12-31,18.850,18.157,19.602,17.414,2365154.00,002023,55.592103
138,2016-01-29,18.236,13.563,18.691,12.959,2146673.00,002023,43.690738
139,2016-02-29,13.474,12.286,15.513,12.078,1707514.00,002023,40.949275
140,2016-03-31,12.553,15.711,16.503,11.831,3303322.00,002023,50.349510
141,2016-04-29,15.593,15.266,16.295,14.068,2553162.00,002023,49.204600
142,2016-05-31,15.167,15.276,15.929,13.464,2513496.00,002023,49.233784
143,2016-06-30,15.345,17.157,17.503,13.989,3714634.00,002023,54.736852
144,2016-07-29,17.216,16.276,18.968,16.028,3164072.00,002023,51.779342
145,2016-08-31,16.236,17.523,17.988,15.543,2200478.00,002023,55.599468
146,2016-09-30,17.523,16.286,18.018,15.860,1424225.00,002023,51.083212
147,2016-10-31,16.345,15.899,17.345,15.741,1280379.00,002023,49.663377
148,2016-11-30,15.909,15.424,16.117,14.731,1345661.00,002023,47.827789
149,2016-12-30,15.484,13.702,15.523,13.226,1216249.00,002023,41.562606
150,2017-01-26,13.692,13.771,14.563,12.355,1606667.00,002023,41.905655
151,2017-02-28,13.801,14.058,14.444,13.157,1895992.00,002023,43.458811
152,2017-03-31,14.068,13.306,14.523,13.058,1964998.00,002023,40.284105
153,2017-04-28,13.276,13.058,14.830,12.385,2554315.00,002023,39.221108
154,2017-05-31,12.870,9.860,13.266,9.286,1450891.00,002023,28.363443
155,2017-06-30,9.900,10.270,10.790,9.300,1572222.00,002023,31.113908
156,2017-07-31,10.290,9.690,10.920,9.300,1513560.00,002023,29.322210
157,2017-08-31,9.710,10.110,10.640,9.530,2225956.00,002023,32.489273
158,2017-09-29,10.100,11.590,11.780,10.050,3412566.00,002023,42.672825
159,2017-10-31,11.860,10.680,12.500,10.500,2451275.00,002023,38.640955
160,2017-11-30,10.700,10.090,11.650,9.840,2415601.00,002023,36.149674
161,2017-12-29,10.090,10.310,11.980,9.610,4917171.00,002023,37.831076
162,2018-01-31,10.360,9.360,10.630,9.350,2117167.00,002023,33.540363
163,2018-02-28,9.360,9.390,9.750,7.700,1898272.00,002023,33.807075
164,2018-03-30,9.300,9.990,10.200,8.220,3021074.00,002023,39.289015
165,2018-04-27,10.150,12.020,14.080,9.540,10769974.00,002023,53.839834

In [458]:
#绘制K线图
'''
fig = plt.figure(figsize=(24, 5))
ax = fig.add_subplot(1, 1, 1)
ax.set_xticks(range(0, len(data['date']), 10))
ax.set_xticklabels(data['date'][::10])
ax.legend(loc='upper left')

mpf.candlestick2_ochl(ax, data['open'], data['close'], data['high'], data['low'],width=0.5, colorup='r', colordown='green',alpha=0.6)
plt.grid()
'''
#low_Low= low[ (low<low.shift(3))&(low<=low.shift(2))& (low<=low.shift(1)) & (low<=low.shift(-1)) & (low<=low.shift(-2)) & (low<=low.shift(-3)) ] 
k_LowPoint= get_low_point(data,"low",3).dropna()
#画出低点
#plt.plot(low_Low.index.values,low_Low.values,'o',color='red')
k_LowPoint

           date    open   close    high     low      volume    code        rsi
13   2005-08-31   1.986   1.739   2.014   1.665   535714.77  002023  41.103242
20   2006-03-31   1.739   1.655   1.783   1.563   273536.55  002023  40.480279
28   2006-11-30   2.217   1.997   2.259   1.835   311509.48  002023  47.118864
39   2007-10-31   3.536   2.750   3.563   2.500   258140.58  002023  48.874608
52   2008-11-28   1.109   1.302   1.509   1.082   485698.21  002023  34.627535
70   2010-05-31   6.842   5.890   6.921   4.866   500537.31  002023  59.803151
78   2011-01-31   8.093   6.973   8.352   6.096   628061.00  002023  53.775655
90   2012-01-31   4.727   3.707   4.779   3.419   420685.00  002023  27.813509
96   2012-07-31   4.347   3.778   4.479   3.749   497526.00  002023  32.583233
101  2012-12-31   4.002   4.571   4.591   3.744   907748.00  002023  46.077176
107  2013-06-28   6.650   5.532   6.699   4.826   793341.00  002023  52.981795
134  2015-09-30  16.830  15.355  17.325  13.345  4720304.00  002023  50.083044
140  2016-03-31  12.553  15.711  16.503  11.831  3303322.00  002023  50.349510
150  2017-01-26  13.692  13.771  14.563  12.355  1606667.00  002023  41.905655
154  2017-05-31  12.870   9.860  13.266   9.286  1450891.00  002023  28.363443

In [460]:
#找底背离点

dest=k_LowPoint[ (k_LowPoint["low"].shift(1)>k_LowPoint["low"]) & (k_LowPoint["rsi"].shift(1)>k_LowPoint["rsi"])  ]

dest[["date","close","low","rsi]]

NameError: name 'date' is not defined

In [ ]:
sma_10 = talib.SMA(np.array(data['close']), 10)
sma_30 = talib.SMA(np.array(data['close']), 30)

fig = plt.figure(figsize=(24, 8))
ax = fig.add_subplot(1, 1, 1)
ax.set_xticks(range(0, len(data['date']), 10))
ax.set_xticklabels(data['date'][::10])
ax.plot(sma_10, label='MA10')
ax.plot(sma_30, label='MA30')
ax.legend(loc='upper left')

#mpf.candlestick2_ochl(ax, data['open'], data['close'], data['high'], data['low'],
#                     width=0.5, colorup='r', colordown='green',
#                     alpha=0.6)
#plt.grid()

In [446]:
data = ts.get_k_data('002023', ktype='m',autype="qfq",index=False,start='2015-01-01', end='2018-05-15')
#RSI
data["rsi"] = talib.RSI(data['close'].values, timeperiod=9)
data

<urlopen error timed out>

          date    open   close    high     low       volume    code        rsi
0   2015-01-30  10.803  11.992  12.831  10.620   1598101.00  002023        NaN
1   2015-02-27  11.904  13.182  13.438  11.302    862062.00  002023        NaN
2   2015-03-31  13.054  17.026  18.053  12.279   3350110.87  002023        NaN
3   2015-04-30  17.076  17.135  19.005  15.980   3170511.00  002023        NaN
4   2015-05-29  17.352  27.275  30.670  16.286   7708958.00  002023        NaN
5   2015-06-30  27.680  22.424  29.542  18.681   5361146.00  002023        NaN
6   2015-07-31  22.424  21.839  24.126  13.761   7839683.00  002023        NaN
7   2015-08-31  21.107  16.632  24.691  13.464   8334378.00  002023        NaN
8   2015-09-30  16.830  15.355  17.325  13.345   4720304.00  002023        NaN
9   2015-10-30  16.088  18.592  19.850  15.662   4254273.00  002023  60.840999
10  2015-11-30  18.414  18.830  22.117  17.186   5292475.00  002023  61.182438
11  2015-12-31  18.850  18.157  19.602  17.414   2365154.00  002023  59.531173
12  2016-01-29  18.236  13.563  18.691  12.959   2146673.00  002023  49.310926
13  2016-02-29  13.474  12.286  15.513  12.078   1707514.00  002023  46.798456
14  2016-03-31  12.553  15.711  16.503  11.831   3303322.00  002023  53.887655
15  2016-04-29  15.593  15.266  16.295  14.068   2553162.00  002023  52.858131
16  2016-05-31  15.167  15.276  15.929  13.464   2513496.00  002023  52.880889
17  2016-06-30  15.345  17.157  17.503  13.989   3714634.00  002023  57.248307
18  2016-07-29  17.216  16.276  18.968  16.028   3164072.00  002023  54.582547
19  2016-08-31  16.236  17.523  17.988  15.543   2200478.00  002023  57.717709
20  2016-09-30  17.523  16.286  18.018  15.860   1424225.00  002023  53.589402
21  2016-10-31  16.345  15.899  17.345  15.741   1280379.00  002023  52.273457
22  2016-11-30  15.909  15.424  16.117  14.731   1345661.00  002023  50.559130
23  2016-12-30  15.484  13.702  15.523  13.226   1216249.00  002023  44.594471
24  2017-01-26  13.692  13.771  14.563  12.355   1606667.00  002023  44.887563
25  2017-02-28  13.801  14.058  14.444  13.157   1895992.00  002023  46.218834
26  2017-03-31  14.068  13.306  14.523  13.058   1964998.00  002023  43.146615
27  2017-04-28  13.276  13.058  14.830  12.385   2554315.00  002023  42.108165
28  2017-05-31  12.870   9.860  13.266   9.286   1450891.00  002023  31.210767
29  2017-06-30   9.900  10.270  10.790   9.300   1572222.00  002023  33.686019
30  2017-07-31  10.290   9.690  10.920   9.300   1513560.00  002023  31.861447
31  2017-08-31   9.710  10.110  10.640   9.530   2225956.00  002023  34.741004
32  2017-09-29  10.100  11.590  11.780  10.050   3412566.00  002023  44.105175
33  2017-10-31  11.860  10.680  12.500  10.500   2451275.00  002023  40.122715
34  2017-11-30  10.700  10.090  11.650   9.840   2415601.00  002023  37.643495
35  2017-12-29  10.090  10.310  11.980   9.610   4917171.00  002023  39.218986
36  2018-01-31  10.360   9.360  10.630   9.350   2117167.00  002023  34.931482
37  2018-02-28   9.360   9.390   9.750   7.700   1898272.00  002023  35.183218
38  2018-03-30   9.300   9.990  10.200   8.220   3021074.00  002023  40.373563
39  2018-04-27  10.150  12.020  14.080   9.540  10769974.00  002023  54.302023