### 安装 <a href="http://tushare.org/index.html">tushare</a> 
    pip install tushare

In [14]:
import tushare as ts
df = ts.get_k_data('002408', ktype='5',autype="qfq",index=False)

df = ts.get_tick_data('002408',date='2018-05-14')
df.head(100)

df = ts.get_realtime_quotes('002408') #Single stock symbol
df[['code','name','price','bid','ask','volume','amount','time']]

     code  name   price     bid     ask   volume        amount      time
0  002408  齐翔腾达  14.080  14.080  14.090  6817880  96252699.890  11:35:00