### 安装 <a href="http://tushare.org/index.html">tushare</a> 
    pip install tushare

In [411]:
import tushare as ts
import matplotlib.pyplot as plt
import matplotlib.finance as mpf
import numpy as np
import talib as talib
import pandas as pd
import datetime as dt

#取所有2n天内的低点
def get_low_point(df,columns,n):
    conds = (df[columns]==df[columns])
    for i in range(0,n):
        conds = conds & (df[columns].shift(i+1)>=df[columns]) &  (df[columns].shift(-i-1)>=df[columns])  
    return df[conds] 

def get_height_point(df,col,n):
    conds = (df[columns]==df[columns])
    for i in range(0,n):
        conds = conds & (df[columns].shift(i+1)<=df[columns]) &  (df[columns].shift(-i-1)<=df[columns])  
    return df[conds]  


df = ts.get_k_data('002408', ktype='60',autype="qfq",index=False)

#RSI
df["rsi"] = talib.RSI(df['close'].values, timeperiod=9)
df["macd"],df["signal"],df["hist"] = talib.MACD(df['close'].values, fastperiod=12, slowperiod=26, signalperiod=9)

In [ ]:
data1 = ts.get_k_data('002023', ktype='m',autype="qfq",index=False,start='2001-01-01', end='2018-05-15')
data1
#RSI
data["rsi"] = talib.RSI(data['close'].values, timeperiod=9)
data["rsi"]
#绘制RSI线图

In [390]:
#绘制K线图
'''
fig = plt.figure(figsize=(24, 5))
ax = fig.add_subplot(1, 1, 1)
ax.set_xticks(range(0, len(data['date']), 10))
ax.set_xticklabels(data['date'][::10])
ax.legend(loc='upper left')

mpf.candlestick2_ochl(ax, data['open'], data['close'], data['high'], data['low'],width=0.5, colorup='r', colordown='green',alpha=0.6)
plt.grid()
'''
low = data[["low"]]
#low_Low= low[ (low<low.shift(3))&(low<=low.shift(2))& (low<=low.shift(1)) & (low<=low.shift(-1)) & (low<=low.shift(-2)) & (low<=low.shift(-3)) ] 
low_Low= get_low_point(low,"low",3)
low_Low = low_Low.dropna()
#画出低点
#plt.plot(low_Low.index.values,low_Low.values,'o',color='red')
low_Low

        low
6     1.963
13    1.665
20    1.563
28    1.835
39    2.500
52    1.082
70    4.866
78    6.096
90    3.419
96    3.749
101   3.744
107   4.826
134  13.345
140  11.831
150  12.355
154   9.286
163   7.700

In [382]:
#找底背离点
low_Low["rsi"] = data[["rsi"]]
low_Low["date"] = data[["date"]]


    
dest=low_Low[ (low_Low["low"].shift(1)>low_Low["low"]) & (low_Low["rsi"].shift(1)>low_Low["rsi"])  ]


get_low_point(low,"low",3)

        low
6     1.963
13    1.665
20    1.563
28    1.835
39    2.500
52    1.082
70    4.866
78    6.096
90    3.419
96    3.749
101   3.744
107   4.826
134  13.345
140  11.831
150  12.355
154   9.286
163   7.700

In [ ]:
sma_10 = talib.SMA(np.array(data['close']), 10)
sma_30 = talib.SMA(np.array(data['close']), 30)

fig = plt.figure(figsize=(24, 8))
ax = fig.add_subplot(1, 1, 1)
ax.set_xticks(range(0, len(data['date']), 10))
ax.set_xticklabels(data['date'][::10])
ax.plot(sma_10, label='MA10')
ax.plot(sma_30, label='MA30')
ax.legend(loc='upper left')

#mpf.candlestick2_ochl(ax, data['open'], data['close'], data['high'], data['low'],
#                     width=0.5, colorup='r', colordown='green',
#                     alpha=0.6)
#plt.grid()