### 安装 <a href="http://tushare.org/index.html">tushare</a> 
    pip install tushare

In [5]:
import tushare as ts
df = ts.get_k_data('000001', ktype='5',autype="qfq",index=True)
df.tail(25)

                 date     open    close     high      low     volume      code
481  2018-05-14 15:00  3171.22  3174.03  3174.32  3170.93  3886232.0  sh000001
482  2018-05-15 09:35  3180.42  3176.55  3182.03  3174.53  8283140.0  sh000001
483  2018-05-15 09:40  3176.31  3173.13  3176.53  3172.25  4972309.0  sh000001
484  2018-05-15 09:45  3173.04  3175.06  3175.45  3171.10  4090958.0  sh000001
485  2018-05-15 09:50  3175.63  3181.47  3181.47  3175.63  3882628.0  sh000001
486  2018-05-15 09:55  3181.86  3180.65  3182.13  3180.19  3399479.0  sh000001
487  2018-05-15 10:00  3180.51  3179.56  3180.93  3178.85  2846663.0  sh000001
488  2018-05-15 10:05  3178.45  3181.31  3181.48  3178.45  2812641.0  sh000001
489  2018-05-15 10:10  3181.05  3176.83  3181.53  3176.62  2924762.0  sh000001
490  2018-05-15 10:15  3176.71  3175.10  3177.05  3174.65  2950017.0  sh000001
491  2018-05-15 10:20  3175.10  3174.31  3176.24  3173.83  2561896.0  sh000001
492  2018-05-15 10:25  3174.34  3173.31  3175.55  3172.69  2087724.0  sh000001
493  2018-05-15 10:30  3173.04  3176.00  3176.00  3172.86  2043455.0  sh000001
494  2018-05-15 10:35  3175.91  3176.98  3179.16  3175.86  2327109.0  sh000001
495  2018-05-15 10:40  3177.11  3176.05  3177.79  3176.00  1926863.0  sh000001
496  2018-05-15 10:45  3176.02  3175.73  3176.64  3174.63  1668313.0  sh000001
497  2018-05-15 10:50  3174.88  3168.56  3175.49  3168.56  2560529.0  sh000001
498  2018-05-15 10:55  3168.56  3167.80  3169.13  3166.84  2702388.0  sh000001
499  2018-05-15 11:00  3167.80  3166.66  3167.80  3164.79  2555652.0  sh000001
500  2018-05-15 11:05  3166.66  3166.88  3168.19  3166.15  1774897.0  sh000001
501  2018-05-15 11:10  3166.60  3167.01  3167.63  3166.12  1565145.0  sh000001
502  2018-05-15 11:15  3167.01  3168.15  3170.00  3167.01  1611033.0  sh000001
503  2018-05-15 11:20  3168.15  3167.77  3169.16  3167.41  1390408.0  sh000001
504  2018-05-15 11:25  3167.77  3166.77  3167.79  3165.29  1494770.0  sh000001
505  2018-05-15 11:30  3166.77  3167.16  3167.48  3166.16  1056153.0  sh000001