### 安装 <a href="http://tushare.org/index.html">tushare</a> 
    pip install tushare

In [10]:
import tushare as ts
df = ts.get_k_data('002408', ktype='5',autype="qfq",index=False)

df = ts.get_tick_data('002408',date='2018-05-')
df.head(10)

                 date   open  close   high    low   volume    code
0    2018-04-26 14:55  13.62  13.58  13.69  13.58   7899.0  002408
1    2018-04-26 15:00  13.58  13.66  13.66  13.57   5522.0  002408
2    2018-04-27 09:35  13.68  13.83  13.93  13.68   9087.0  002408
3    2018-04-27 09:40  13.83  13.80  13.85  13.75   4308.0  002408
4    2018-04-27 09:45  13.80  13.95  13.96  13.80   9805.0  002408
5    2018-04-27 09:50  13.96  13.92  13.97  13.88   9552.0  002408
6    2018-04-27 09:55  13.92  13.83  13.94  13.81   5722.0  002408
7    2018-04-27 10:00  13.87  13.83  13.87  13.81   4945.0  002408
8    2018-04-27 10:05  13.83  13.83  13.88  13.80   2722.0  002408
9    2018-04-27 10:10  13.83  13.93  13.94  13.83   7161.0  002408
10   2018-04-27 10:15  13.93  13.84  13.93  13.83   4466.0  002408
11   2018-04-27 10:20  13.84  13.88  13.88  13.83   2707.0  002408
12   2018-04-27 10:25  13.88  13.87  13.88  13.85   2926.0  002408
13   2018-04-27 10:30  13.87  13.90  13.93  13.85   3993.0  002408
14   2018-04-27 10:35  13.90  13.85  13.90  13.84   3911.0  002408
15   2018-04-27 10:40  13.86  13.87  13.87  13.85   2293.0  002408
16   2018-04-27 10:45  13.86  13.83  13.86  13.83   1160.0  002408
17   2018-04-27 10:50  13.83  13.82  13.85  13.81   3178.0  002408
18   2018-04-27 10:55  13.80  13.84  13.91  13.80   8292.0  002408
19   2018-04-27 11:00  13.84  13.89  13.90  13.84    773.0  002408
20   2018-04-27 11:05  13.89  13.88  13.90  13.88   1475.0  002408
21   2018-04-27 11:10  13.88  13.85  13.89  13.85   4077.0  002408
22   2018-04-27 11:15  13.85  13.82  13.86  13.82   2253.0  002408
23   2018-04-27 11:20  13.82  13.80  13.84  13.80   2124.0  002408
24   2018-04-27 11:25  13.80  13.84  13.84  13.79   2586.0  002408
25   2018-04-27 11:30  13.84  13.79  13.84  13.78   2137.0  002408
26   2018-04-27 13:05  13.79  13.73  13.79  13.72   2584.0  002408
27   2018-04-27 13:10  13.73  13.74  13.80  13.72   3315.0  002408
28   2018-04-27 13:15  13.74  13.71  13.76  13.71   1772.0  002408
29   2018-04-27 13:20  13.71  13.70  13.77  13.69   2799.0  002408
..                ...    ...    ...    ...    ...      ...     ...
476  2018-05-14 14:35  14.00  13.98  14.00  13.97   2775.0  002408
477  2018-05-14 14:40  13.98  13.98  13.99  13.97   2586.0  002408
478  2018-05-14 14:45  13.98  13.98  13.99  13.97   1616.0  002408
479  2018-05-14 14:50  13.98  14.05  14.07  13.97   5331.0  002408
480  2018-05-14 14:55  14.05  14.10  14.10  14.04  12896.0  002408
481  2018-05-14 15:00  14.09  14.09  14.09  14.07   2128.0  002408
482  2018-05-15 09:35  14.10  14.11  14.15  14.06   7567.0  002408
483  2018-05-15 09:40  14.11  14.10  14.12  14.05   5137.0  002408
484  2018-05-15 09:45  14.10  14.10  14.10  14.06   3773.0  002408
485  2018-05-15 09:50  14.10  14.19  14.20  14.06   7652.0  002408
486  2018-05-15 09:55  14.19  14.17  14.20  14.16   6110.0  002408
487  2018-05-15 10:00  14.17  14.17  14.17  14.13   1591.0  002408
488  2018-05-15 10:05  14.17  14.17  14.18  14.14   1251.0  002408
489  2018-05-15 10:10  14.17  14.17  14.18  14.13   3072.0  002408
490  2018-05-15 10:15  14.16  14.15  14.17  14.15   1213.0  002408
491  2018-05-15 10:20  14.15  14.15  14.16  14.13   1603.0  002408
492  2018-05-15 10:25  14.15  14.13  14.16  14.10   2380.0  002408
493  2018-05-15 10:30  14.13  14.13  14.13  14.11    944.0  002408
494  2018-05-15 10:35  14.13  14.11  14.14  14.10   1178.0  002408
495  2018-05-15 10:40  14.11  14.10  14.12  14.10    731.0  002408
496  2018-05-15 10:45  14.10  14.11  14.12  14.10   1079.0  002408
497  2018-05-15 10:50  14.11  14.11  14.12  14.09   5082.0  002408
498  2018-05-15 10:55  14.11  14.08  14.11  14.08   5075.0  002408
499  2018-05-15 11:00  14.08  14.11  14.11  14.08   2084.0  002408
500  2018-05-15 11:05  14.11  14.09  14.12  14.07   2171.0  002408
501  2018-05-15 11:10  14.09  14.10  14.10  14.07   2479.0  002408
502  2018-05-15 11:15  14.10  14.09  14.11  14.09   1587.0  002408
503  2018-05-15 11:20  14.09  14.08  14.10  14.08   1627.0  002408
504  2018-05-15 11:25  14.08  14.09  14.10  14.07   1429.0  002408
505  2018-05-15 11:30  14.09  14.08  14.09  14.07   1363.0  002408

[506 rows x 7 columns]