### 安装 <a href="http://tushare.org/index.html">tushare</a> 
    pip install tushare

In [433]:
import tushare as ts
import matplotlib.pyplot as plt
import matplotlib.finance as mpf
import numpy as np
import talib as talib
import pandas as pd
import datetime as dt

#取所有2n天内的低点
def get_low_point(df,columns,n):
    conds = (df[columns]==df[columns])
    for i in range(0,n):
        conds = conds & (df[columns].shift(i+1)>=df[columns]) &  (df[columns].shift(-i-1)>=df[columns])  
    return df[conds] 

def get_height_point(df,col,n):
    conds = (df[columns]==df[columns])
    for i in range(0,n):
        conds = conds & (df[columns].shift(i+1)<=df[columns]) &  (df[columns].shift(-i-1)<=df[columns])  
    return df[conds]  


df = ts.get_k_data('002408', ktype='60',autype="qfq",index=False)

#RSI
df["rsi"] = talib.RSI(df['close'].values, timeperiod=9)
df["macd"],df["signal"],df["hist"] = talib.MACD(df['close'].values, fastperiod=12, slowperiod=26, signalperiod=9)

In [478]:
data = ts.get_k_data('002023', ktype='m',autype="qfq",index=False,start='2001-01-01', end='2018-05-15')
#RSI
data["rsi"] = talib.RSI(data['close'].values, timeperiod=9)
data["rsi"]
#绘制RSI线图
'''
fig, ax = plt.subplots(figsize=(24,5))
#设置坐标轴范围
plt.xlabel('time')
plt.ylabel('rsi')
ax = fig.add_subplot(1, 1, 1)
ax.set_xticks(range(0, len(data['date']), 10))
ax.set_xticklabels(data['date'][::10])
ax.legend(loc='upper left')

#设置坐标轴范围
#plt.xlim((-5, 5))
plt.ylim((0, 100))

plt.plot(data["date"],data["rsi"],color='red', linewidth=1.0, linestyle='-')
plt.axhline(80,alpha=0.5,color='red',linestyle='--') 
plt.axhline(50,alpha=0.5,color='red',linestyle='--') 
plt.axhline(20,alpha=0.5,color='red',linestyle='--') 
 
#3日内的低点
#rsi_Low= rsi[rsi<rsi.shift(3)][rsi<rsi.shift(2)][rsi<rsi.shift(1)][rsi<rsi.shift(-1)][rsi<rsi.shift(-2)][rsi<rsi.shift(-3)]
rsi_Low=get_low_point(rsi,"rsi",3)
rsi_Low = rsi_Low.dropna()
plt.plot(rsi_Low.index.values,rsi_Low.values,'o',color='red')

#低点的低点
rsi_Low_Low = rsi_Low    [ rsi_Low.shift(1) > rsi_Low ]   [ rsi_Low.shift(-1) > rsi_Low ]        
rsi_Low_Low= rsi_Low_Low.dropna()
plt.plot(rsi_Low_Low.index.values,rsi_Low_Low.values-rsi_Low_Low.values+2,'s',color='red')
plt.grid()
'''

'\nfig, ax = plt.subplots(figsize=(24,5))\n#\xe8\xae\xbe\xe7\xbd\xae\xe5\x9d\x90\xe6\xa0\x87\xe8\xbd\xb4\xe8\x8c\x83\xe5\x9b\xb4\nplt.xlabel(\'time\')\nplt.ylabel(\'rsi\')\nax = fig.add_subplot(1, 1, 1)\nax.set_xticks(range(0, len(data[\'date\']), 10))\nax.set_xticklabels(data[\'date\'][::10])\nax.legend(loc=\'upper left\')\n\n#\xe8\xae\xbe\xe7\xbd\xae\xe5\x9d\x90\xe6\xa0\x87\xe8\xbd\xb4\xe8\x8c\x83\xe5\x9b\xb4\n#plt.xlim((-5, 5))\nplt.ylim((0, 100))\n\nplt.plot(data["date"],data["rsi"],color=\'red\', linewidth=1.0, linestyle=\'-\')\nplt.axhline(80,alpha=0.5,color=\'red\',linestyle=\'--\') \nplt.axhline(50,alpha=0.5,color=\'red\',linestyle=\'--\') \nplt.axhline(20,alpha=0.5,color=\'red\',linestyle=\'--\') \n \n#3\xe6\x97\xa5\xe5\x86\x85\xe7\x9a\x84\xe4\xbd\x8e\xe7\x82\xb9\n#rsi_Low= rsi[rsi<rsi.shift(3)][rsi<rsi.shift(2)][rsi<rsi.shift(1)][rsi<rsi.shift(-1)][rsi<rsi.shift(-2)][rsi<rsi.shift(-3)]\nrsi_Low=get_low_point(rsi,"rsi",3)\nrsi_Low = rsi_Low.dropna()\nplt.plot(rsi_Low.index.values,rsi_Low.values,\'o\',color=\'red\')\n\n#\xe4\xbd\x8e\xe7\x82\xb9\xe7\x9a\x84\xe4\xbd\x8e\xe7\x82\xb9\nrsi_Low_Low = rsi_Low    [ rsi_Low.shift(1) > rsi_Low ]   [ rsi_Low.shift(-1) > rsi_Low ]        \nrsi_Low_Low= rsi_Low_Low.dropna()\nplt.plot(rsi_Low_Low.index.values,rsi_Low_Low.values-rsi_Low_Low.values+2,\'s\',color=\'red\')\nplt.grid()\n'

In [484]:
#绘制K线图
'''
fig = plt.figure(figsize=(24, 5))
ax = fig.add_subplot(1, 1, 1)
ax.set_xticks(range(0, len(data['date']), 10))
ax.set_xticklabels(data['date'][::10])
ax.legend(loc='upper left')

mpf.candlestick2_ochl(ax, data['open'], data['close'], data['high'], data['low'],width=0.5, colorup='r', colordown='green',alpha=0.6)
plt.grid()
'''
low=data["low"]
low_Low= low[ (low<low.shift(3))&(low<=low.shift(2))& (low<=low.shift(1)) & (low<=low.shift(-1)) & (low<=low.shift(-2)) & (low<=low.shift(-3)) ] 
k_LowPoint= get_low_point(data,"low",2).dropna()
#画出低点
#plt.plot(low_Low.index.values,low_Low.values,'o',color='red')
k_LowPoint 
low_Low

6       1.963
13      1.665
20      1.563
28      1.835
39      2.500
52      1.082
70      4.866
78      6.096
90      3.419
96      3.749
101     3.744
107     4.826
134    13.345
140    11.831
150    12.355
154     9.286
Name: low, dtype: float64

In [461]:
#找底背离点
low_Low["rsi"] = data[["rsi"]]
low_Low["date"] = data[["date"]]
 
dest=low_Low[ (low_Low["low"].shift(1)>low_Low["low"]) & (low_Low["rsi"].shift(1)>low_Low["rsi"])  ]

dest

           date  close    low        rsi
20   2006-03-31  1.655  1.563  40.480279
52   2008-11-28  1.302  1.082  34.627535
90   2012-01-31  3.707  3.419  27.813509
154  2017-05-31  9.860  9.286  28.363443

In [ ]:
sma_10 = talib.SMA(np.array(data['close']), 10)
sma_30 = talib.SMA(np.array(data['close']), 30)

fig = plt.figure(figsize=(24, 8))
ax = fig.add_subplot(1, 1, 1)
ax.set_xticks(range(0, len(data['date']), 10))
ax.set_xticklabels(data['date'][::10])
ax.plot(sma_10, label='MA10')
ax.plot(sma_30, label='MA30')
ax.legend(loc='upper left')

#mpf.candlestick2_ochl(ax, data['open'], data['close'], data['high'], data['low'],
#                     width=0.5, colorup='r', colordown='green',
#                     alpha=0.6)
#plt.grid()

In [446]:
data = ts.get_k_data('002023', ktype='m',autype="qfq",index=False,start='2015-01-01', end='2018-05-15')
#RSI
data["rsi"] = talib.RSI(data['close'].values, timeperiod=9)
data

<urlopen error timed out>

          date    open   close    high     low       volume    code        rsi
0   2015-01-30  10.803  11.992  12.831  10.620   1598101.00  002023        NaN
1   2015-02-27  11.904  13.182  13.438  11.302    862062.00  002023        NaN
2   2015-03-31  13.054  17.026  18.053  12.279   3350110.87  002023        NaN
3   2015-04-30  17.076  17.135  19.005  15.980   3170511.00  002023        NaN
4   2015-05-29  17.352  27.275  30.670  16.286   7708958.00  002023        NaN
5   2015-06-30  27.680  22.424  29.542  18.681   5361146.00  002023        NaN
6   2015-07-31  22.424  21.839  24.126  13.761   7839683.00  002023        NaN
7   2015-08-31  21.107  16.632  24.691  13.464   8334378.00  002023        NaN
8   2015-09-30  16.830  15.355  17.325  13.345   4720304.00  002023        NaN
9   2015-10-30  16.088  18.592  19.850  15.662   4254273.00  002023  60.840999
10  2015-11-30  18.414  18.830  22.117  17.186   5292475.00  002023  61.182438
11  2015-12-31  18.850  18.157  19.602  17.414   2365154.00  002023  59.531173
12  2016-01-29  18.236  13.563  18.691  12.959   2146673.00  002023  49.310926
13  2016-02-29  13.474  12.286  15.513  12.078   1707514.00  002023  46.798456
14  2016-03-31  12.553  15.711  16.503  11.831   3303322.00  002023  53.887655
15  2016-04-29  15.593  15.266  16.295  14.068   2553162.00  002023  52.858131
16  2016-05-31  15.167  15.276  15.929  13.464   2513496.00  002023  52.880889
17  2016-06-30  15.345  17.157  17.503  13.989   3714634.00  002023  57.248307
18  2016-07-29  17.216  16.276  18.968  16.028   3164072.00  002023  54.582547
19  2016-08-31  16.236  17.523  17.988  15.543   2200478.00  002023  57.717709
20  2016-09-30  17.523  16.286  18.018  15.860   1424225.00  002023  53.589402
21  2016-10-31  16.345  15.899  17.345  15.741   1280379.00  002023  52.273457
22  2016-11-30  15.909  15.424  16.117  14.731   1345661.00  002023  50.559130
23  2016-12-30  15.484  13.702  15.523  13.226   1216249.00  002023  44.594471
24  2017-01-26  13.692  13.771  14.563  12.355   1606667.00  002023  44.887563
25  2017-02-28  13.801  14.058  14.444  13.157   1895992.00  002023  46.218834
26  2017-03-31  14.068  13.306  14.523  13.058   1964998.00  002023  43.146615
27  2017-04-28  13.276  13.058  14.830  12.385   2554315.00  002023  42.108165
28  2017-05-31  12.870   9.860  13.266   9.286   1450891.00  002023  31.210767
29  2017-06-30   9.900  10.270  10.790   9.300   1572222.00  002023  33.686019
30  2017-07-31  10.290   9.690  10.920   9.300   1513560.00  002023  31.861447
31  2017-08-31   9.710  10.110  10.640   9.530   2225956.00  002023  34.741004
32  2017-09-29  10.100  11.590  11.780  10.050   3412566.00  002023  44.105175
33  2017-10-31  11.860  10.680  12.500  10.500   2451275.00  002023  40.122715
34  2017-11-30  10.700  10.090  11.650   9.840   2415601.00  002023  37.643495
35  2017-12-29  10.090  10.310  11.980   9.610   4917171.00  002023  39.218986
36  2018-01-31  10.360   9.360  10.630   9.350   2117167.00  002023  34.931482
37  2018-02-28   9.360   9.390   9.750   7.700   1898272.00  002023  35.183218
38  2018-03-30   9.300   9.990  10.200   8.220   3021074.00  002023  40.373563
39  2018-04-27  10.150  12.020  14.080   9.540  10769974.00  002023  54.302023